#links {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div22 {
  background: var(--green, #688f74);
  padding: 10px;
  color: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 300px;
}

.div22 button {
  font-size: 10px;
}

.link1 {
  color: #808080;
  text-decoration: none;
}
.link2 {
  text-decoration: none;
  color: #000;
}
