#buttonGoogleFacebook{
    color: black;
    border-color: black;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: none;
}

hr{
    width: 350px;
    height: 1px;
}