.main_input {
  display: flex;
  padding: 3px 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  outline: none;
}

#img1{
    width: 73px;
    height: 76px;
}

#img2{
    width: 94px;
    height: 94px;
}

#img3{
    width: 89px;
    height: 89px;
}

#img4{
    width: 212px;
    height: 66px;
}

#img5{
    width: 176px;
    height: 44px;
}

#img6{
    width: 203px;
    height: 94px;
}