#filterName{
    font-family:  'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#listText{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

#filter:before{
    height: 0;
}