.sort{
    font-size: 18px !important;
    font-family: 'Lato', sans-serif !important;              
    box-shadow: none !important;
    display: inline-grid !important;             
    .sortName{
        color: #646464;
    }
    .check{
        color: #9D9D9D;
    }
    .checked{
        font-weight: bold;
        color: black;
    }
}