.div1 {
  display: flex;
  width: 605px;
  height: 50px;
  padding: 3px 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #000;
  background: #fff;
  //   outline: none;
}

.div2{
  background: var(--green, #688f74);
  padding: 10px;
  color: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.div2 button{
    font-size: 10px;
}

.link1{
    color: #808080;
    text-decoration: none;
}
.link2{
    text-decoration: none;
    color: #000;
}