.main_input {
  display: flex;
  width: 605px;
  height: 50px;
  padding: 3px 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #000;
  background: #fff;
    outline: none;
}

.mainNav {
  background: var(--green, #688f74);
  padding: 10px;
  color: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainNav button {
  font-size: 10px;
}

.eng_link {
  color: #808080;
  text-decoration: none;
}
.ukr_link {
  text-decoration: none;
  color: #000;
}
