#links {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_footer {
  background: var(--green, #688f74);
  padding: 10px;
  color: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 300px;
  text-align: left;
}

.main_footer button {
  font-size: 10px;
  margin-left: -7px;
}